body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calc-container{
    width: 350px;
    margin: auto;
    border: 2px solid ;
    border-radius: 10px;
    
}
.buttons{
    display: flex;

}
.screen{
    display: flex;
    background-color: lightcoral;
    flex-direction: row-reverse;
    align-items: center;
    color: white;
    width: auto;
    height: 60px;
    border-bottom: 2px solid black;
    font-size: 30px;
    
}
.digits,
.other {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
    margin-right: 10px;
    justify-content: center;
    
}
.digits{
    border-right: 2px solid;
}
.key
{
    width: 50px;
    height: 50px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50; /* Цвет фона кнопки */
    color: #ffffff; /* Цвет текста кнопки */
    border: none;
    border-radius: 50%; /* Закругленные углы */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень кнопки */
}
.key:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
