body {
    background-image: url("ultra-detailed-nebula-abstract-wallpaper-4.jpg");
    display: flex;
    justify-content: center; /* Выравниваем по центру по горизонтали */
    align-items: center; /* Выравниваем по центру по вертикали */
    height: 100vh; /* Устанавливаем высоту равной высоте видимой области окна браузера */
    margin: 0; /* Убираем внешние отступы у body */
    background-repeat: no-reanpeat;
    background-size: cover;
}

.container {
    font-size: 16px;
    border: 5px solid white;
    padding: 30px;
    color:white;
    display: flex;
    background-color: rgb(206, 97, 169);
}
.form
{
    margin-top: 10px;
}
.nazad 
{
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 5;
    text-decoration: none;
    
}
a
{
    text-decoration: none;
    border:2px solid white;
    color:white;
}
.form input[type="text"],
.form input[type="password"]

{
    width: 20em;
}
button
{
    width: 20em;
    
}
button:hover , a:hover
{
    background-color: blueviolet;
    transition: 1s ;
    border-radius: 5px;
}